{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/geofence.css" />
{% endblock %}

{% block content %}
        <div id="map-canvas">
        </div>
        

		<div id="assetContainer">
			<h4>Assets</h4>

			<form action="">
				<div id="assets">
					<table id="assetTable" class="atable">
						<tr><td></td>
						</tr>
					</table>
				</div>
			</form> 
			<div id="map-buttons">
				<input onclick="clearBoundary();" type="button" value="Cancel New Fence"/>
				<br />
				<input onclick="setFenceFromBoundary();" type="button" value="Set Fence"/>
				<br />
				<input onclick="reset();" type="button" value="Clear Fence"/>
			</div>
		</div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{maps_key}}&amp;sensor=false"></script>
    <script type="text/javascript" src="/static/map.js"></script>
	<script type="text/javascript" src="/static/geofence.js"></script>
{% endblock %}
